/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Contenedor Principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: #1a1449;
  color: white;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 20px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.button-nav,
.button-main {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: none;
}

.button-nav {
  background-color: rgb(50, 40, 99);
  color: #f5f2f0;
}

.button-main {
  background-color: rgb(248, 248, 248);
  color: white;
}

.button-nav:hover {
  background-color: #ffcc80;
}

/* Banner Principal */
.main-banner-abogado {
  background-color: #052565;
  color: white;
  padding: 40px 20px;
  border-bottom: 2px solid #e0e0e0;
  background-image: url("/imagen/fondo_abogado.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.main-banner .text {
  flex: 1;
  margin-right: 20px;
}

.main-banner .text h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.main-banner .text p {
  font-size: 16px;
  margin: 10px 0;
}

.main-banner .text button {
  background-color: white;
  color: #1a1449;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.main-banner .image {
  flex: 1;
}

.main-banner .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Sección Cómo Hacerlo */
.how-to {
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  max-width: 100%;
  background-color: #1a1449; /* Evita el desbordamiento horizontal */
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.step {
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-container img {
  width: 80px;
  height: 80px;
}

.step-icon {
  font-size: 36px;
  color: rgb(195, 45, 45);
  font-weight: bold;
  margin-left: 10px;
}

.step p {
  font-size: 16px;
  margin: 0;
}

.step button,
.button-main {
  background-color: rgb(0, 0, 0);
  color: #ff6f00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #1a1449;
  color: white;
  padding: 20px 0;
  border-top: 2px solid #e0e0e0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
}

.footer-links ul,
.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li,
.social-media ul li {
  margin: 5px 0;
}

.footer-links ul li a,
.social-media ul li a {
  color: white;
  text-decoration: none;
}

.social-media {
  flex: 1;
}

.social-media img {
  height: 20px;
  width: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* media query */
@media (max-width: 767.98px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
  .main-banner-cliente {
    padding: 20px 10px;
  }

  .main-banner .content {
    flex-direction: column;
    align-items: center;
  }

  .main-banner .text {
    margin-right: 0;
    text-align: center;
  }

  .main-banner .text p {
    font-size: 14px;
  }

  .main-banner .image {
    margin-top: 20px;
  }

  .main-banner .image img {
    max-width: 100%;
    height: auto;
  }

  .main-banner .text a.button-main {
    display: block;
    margin: 20px auto 0;
  }
  .how-to h2 {
    font-size: 20px;
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin: 10px 0;
  }

  .icon-container img {
    width: 60px;
    height: 60px;
  }

  .step-icon {
    font-size: 30px;
  }

  .step p {
    font-size: 14px;
  }

  .button-main {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer {
    padding: 10px 0;
    margin-top: 100px;
  }

  .footer-content {
    padding: 0 10px;
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 5px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .how-to h2 {
    font-size: 22px;
  }

  .steps {
    flex-direction: row;
  }

  .step {
    margin: 10px;
    min-width: 300px;
  }

  .icon-container img {
    width: 90px;
    height: 90px;
  }

  .step-icon {
    font-size: 34px;
  }

  .step p {
    font-size: 15px;
  }
  .header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  .main-banner-cliente {
    padding: 30px 20px;
  }

  .main-banner .content {
    flex-direction: row;
    align-items: center;
  }

  .main-banner .text {
    margin-right: 15px;
    text-align: left;
  }

  .main-banner .text p {
    font-size: 15px;
  }

  .main-banner .image {
    margin-top: 0;
  }
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 10px 0;
  }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-banner-cliente {
    padding: 40px 20px;
  }

  .main-banner .content {
    flex-direction: row;
  }

  .main-banner .text {
    margin-right: 20px;
  }

  .main-banner .text p {
    font-size: 16px;
  }
  .how-to h2 {
    font-size: 24px;
  }

  .steps {
    flex-direction: row;
  }

  .step {
    margin: 20px;
    min-width: 300px;
  }

  .icon-container img {
    width: 100px;
    height: 100px;
  }

  .step-icon {
    font-size: 36px;
  }

  .step p {
    font-size: 16px;
  }
  .footer-content {
    flex-direction: row;
  }

  .footer-links {
    flex-direction: row;
  }

  .footer-links ul,
  .social-media ul {
    display: flex;
    justify-content: space-between;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 10px 20px;
  }
}

@media (max-width: 320px) {
  .header-top {
    flex-direction: column;
    align-items: center;
    padding: 0 10px; /* Ajusta el relleno para pantallas más pequeñas */
  }

  .logo h1 {
    font-size: 18px; /* Reduce el tamaño del texto para mejor ajuste */
    text-align: center;
  }

  .logo img {
    width: 60px; /* Ajusta el tamaño de la imagen del logo */
    height: auto;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    margin: 5px 0; /* Ajusta el margen para pantallas pequeñas */
  }

  nav ul li a {
    font-size: 14px; /* Reduce el tamaño de la fuente para mejor ajuste */
  }

  .how-to h2 {
    font-size: 18px;
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin: 10px 0;
    padding: 10px; /* Adjust padding for small screens */
    min-width: 100%; /* Ensure steps take full width */
  }

  .icon-container img {
    width: 50px; /* Smaller icons for smaller screens */
    height: 50px;
  }

  .step-icon {
    font-size: 24px; /* Smaller step icons */
  }

  .step p {
    font-size: 12px; /* Smaller text for better fit */
  }

  .button-main {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px; /* Adjust padding for smaller buttons */
  }
  .main-banner-cliente {
    padding: 20px 10px;
    background-size: contain; /* Ajusta la imagen de fondo para caber en la pantalla */
  }

  .main-banner .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-banner .text {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-banner .text p {
    font-size: 14px; /* Reduce el tamaño de la fuente */
  }

  .main-banner .image {
    margin-top: 20px;
  }

  .main-banner .image img {
    max-width: 100%;
    height: auto;
  }

  footer {
    padding: 5px 0;
    margin-top: 80px;
  }

  .footer-content {
    padding: 0 5px;
  }

  .footer-links,
  .social-media {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
    text-align: center;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 3px 0;
  }
}
