body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center; /* Alinea las imágenes en el centro horizontalmente */
  gap: 20px; /* Espacio entre las imágenes */
}

.image img {
  width: 150px; /* Ancho de las imágenes */
  height: 150px; /* Alto de las imágenes */
  object-fit: cover; /* Ajusta cómo se redimensiona la imagen */
}

.logo img {
  margin-right: 20px; /* Ajusta el espacio entre la imagen y el texto */
}

.logo h1 {
  margin: 0; /* Elimina cualquier margen predeterminado en el h1 */
  font-size: 24px; /* Ajusta el tamaño de la fuente si es necesario */
}

header {
  background-color: #1a1449;
  color: white;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0; /* Linea entre header y secciones */
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top .logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.button-nav {
  background-color: rgb(50, 40, 99);
  color: #f5f2f0;
  padding: 10px 20px; /* Tamaño más grande para el botón */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button-main {
  background-color: rgb(248, 248, 248);
  color: white;
  padding: 10px 20px; /* Tamaño más grande para el botón */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button-nav:hover {
  background-color: #ffcc80; /* Color al pasar el cursor */
}

.main-banner-abogado {
  background-color: #052565;
  color: white;
  padding: 40px 20px;
  border-bottom: 2px solid #e0e0e0; /* Linea entre secciones */
  background-image: url("/imagen/fondo_abogado.png");
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
}

.main-banner .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.main-banner .text {
  flex: 1;
  margin-right: 20px;
}

.main-banner .text h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.main-banner .text p {
  font-size: 16px;
  margin: 10px 0;
}

.main-banner .text button {
  background-color: white;
  color: #1a1449;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.main-banner .image {
  flex: 1;
}

.main-banner .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.how-to {
  background-color: #1a1449;
  color: white;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 2px solid #e0e0e0; /* Linea entre secciones */
}

.how-to h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
}

.steps {
  display: flex;
  justify-content: space-around; /* Asegura que los pasos estén espaciados uniformemente */
}

.step {
  background-color: #1a1449;
  color: white;
  margin: 0 10px;
  padding: 20px;
  border-radius: 5px;
  flex: 1;
  text-align: left; /* Alinea el texto al lado izquierdo */
}

.icon-container {
  display: flex; /* Usamos flex para alinear el icono y el número horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: flex-start; /* Alinea horizontalmente los elementos a la izquierda */
  width: auto;
  margin-bottom: 10px; /* Añade margen inferior */
}

.icon-container img {
  width: 100px; /* Ajusta el ancho del icono */
  height: 100px; /* Ajusta la altura del icono */
}

.step-icon {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-left: 10px; /* Añade margen entre el icono y el número */
}

.step p {
  font-size: 16px;
}

.step button,
.button-main {
  background-color: white;
  color: #ff6f00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  background-color: #1a1449;
  color: white;
  padding: 20px 0;
  border-top: 2px solid #e0e0e0; /* Linea entre la ultima seccion y footer */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  flex: 1;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer-links .footer-section {
  flex: 1;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.social-media {
  flex: 1;
}

.social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media ul li {
  margin: 5px 0;
}

.formulario-div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 20px; /* Agrega espacio interno al formulario */
  max-width: 600px; /* Establece el ancho máximo del formulario */
  background-color: white; /* Color de fondo del formulario */
  border-radius: 10px; /* Ajusta el radio de los bordes para suavizar las esquinas */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave alrededor del formulario */
  margin: 20px auto; /* Centra el formulario horizontalmente */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del contenedor */
}

label {
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-bottom: 15px;
}

input[type="range"] {
  width: 100%;
  margin-bottom: 15px;
}

button[type="submit"],
button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0056b3;
}

/* Aquí puedes añadir tus estilos personalizados */
