body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0; /* Alinea la barra con la parte superior de la página */
  width: 100%; /* Hace que la barra ocupe todo el ancho de la página */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
  background-color: #1a1449;
  color: white;
  padding: 10px 0;
  border-bottom: 2px solid #e0e0e0;
  font-family: "navbar";
  font-size: x-large;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 20px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  /* Ajusta el color de fondo con transparencia si es necesario */
  color: white;
  padding: 20px 0;
  border-top: 2px solid #e0e0e0;
  background-color: #1a1449;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 3000px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  flex: 1;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer-links .footer-section {
  flex: 1;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}
/* Estilo para el formulario en general */
.formulario_ambito {
  max-width: 800px;
  margin: 0 auto;
  color: #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #1a1449;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas */
.formulario_ambito label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: white;
}

/* Estilo para los checkboxes */
.formulario_ambito input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

/* Estilo para los grupos de checkboxes */
.formulario_ambito div {
  margin-bottom: 20px;
}

/* Estilo para el botón de enviar */
.formulario_ambito input[type="submit"] {
  background-color: #007bff;
  color: #0c0505;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario_ambito input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo para mejorar la visibilidad de los checkboxes dentro de un grupo */
.formulario_ambito div > input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}

/* Espaciado entre checkboxes */
.formulario_ambito div input[type="checkbox"] + label {
  margin-left: 5px;
}

/* Estilo para los grupos de checkboxes anidados */
.formulario_ambito div > div {
  margin-left: 20px;
}

form {
  background-color: #1a1449;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  color: white;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total del formulario */
}

form h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
  margin-right: 10px; /* Añade espacio a la derecha de las etiquetas */
}

form input,
form select,
form textarea {
  width: calc(
    100% - 22px
  ); /* Ajusta el ancho para incluir el padding interno */
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total del campo */
}

form .radio-group {
  display: flex;
  gap: 10px; /* Espacio entre las opciones */
  margin-top: 10px;
}

form button {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}

/* Aquí puedes añadir tus estilos personalizados */
@media (max-width: 767.98px) {
  form {
    width: 90%; /* Ajusta el ancho del formulario para dispositivos más pequeños */
  }
  .header-top {
    flex-direction: column;
    align-items: center;
  }

  .logo h1 {
    font-size: 20px;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
  .main-banner-cliente {
    padding: 20px 10px;
  }

  .main-banner .content {
    flex-direction: column;
    align-items: center;
  }

  .main-banner .text {
    margin-right: 0;
    text-align: center;
  }

  .main-banner .text p {
    font-size: 14px;
  }

  .main-banner .image {
    margin-top: 20px;
  }

  .main-banner .image img {
    max-width: 100%;
    height: auto;
  }

  .main-banner .text a.button-main {
    display: block;
    margin: 20px auto 0;
  }
  .how-to h2 {
    font-size: 20px;
  }

  .steps {
    flex-direction: column;
    align-items: center;
  }

  .step {
    margin: 10px 0;
  }

  .icon-container img {
    width: 60px;
    height: 60px;
  }

  .step-icon {
    font-size: 30px;
  }

  .step p {
    font-size: 14px;
  }

  .button-main {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer {
    padding: 10px 0;
    margin-top: 100px;
  }

  .footer-content {
    padding: 0 10px;
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 5px 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  form {
    width: 500px; /* Ajusta el ancho del formulario para dispositivos medianos */
  }
  .how-to h2 {
    font-size: 22px;
  }

  .steps {
    flex-direction: row;
  }

  .step {
    margin: 10px;
    min-width: 300px;
  }

  .icon-container img {
    width: 90px;
    height: 90px;
  }

  .step-icon {
    font-size: 34px;
  }

  .step p {
    font-size: 15px;
  }
  .header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  .main-banner-cliente {
    padding: 30px 20px;
  }

  .main-banner .content {
    flex-direction: row;
    align-items: center;
  }

  .main-banner .text {
    margin-right: 15px;
    text-align: left;
  }

  .main-banner .text p {
    font-size: 15px;
  }

  .main-banner .image {
    margin-top: 0;
  }
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 10px 0;
  }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  form {
    width: 600px; /* Ajusta el ancho del formulario para pantallas grandes */
  }
  .main-banner-cliente {
    padding: 40px 20px;
  }

  .main-banner .content {
    flex-direction: row;
  }

  .main-banner .text {
    margin-right: 20px;
  }

  .main-banner .text p {
    font-size: 16px;
  }
  .how-to h2 {
    font-size: 24px;
  }

  .steps {
    flex-direction: row;
  }

  .step {
    margin: 20px;
    min-width: 300px;
  }

  .icon-container img {
    width: 100px;
    height: 100px;
  }

  .step-icon {
    font-size: 36px;
  }

  .step p {
    font-size: 16px;
  }
  .footer-content {
    flex-direction: row;
  }

  .footer-links {
    flex-direction: row;
  }

  .footer-links ul,
  .social-media ul {
    display: flex;
    justify-content: space-between;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 10px 20px;
  }
}

@media (max-width: 320px) {
  header {
    position: static; /* Cambia la posición a estática en pantallas pequeñas */
    top: auto; /* Anula la posición superior */
  }
  .header-top {
    flex-direction: column;
    align-items: center;
    padding: 0 10px; /* Ajusta el relleno para pantallas más pequeñas */
  }
  .button-nav {
    font-size: xx-small;
    padding: 8px 8px;
  }

  .logo h1 {
    font-size: 18px; /* Reduce el tamaño del texto para mejor ajuste */
    text-align: center;
  }

  .logo img {
    width: 60px; /* Ajusta el tamaño de la imagen del logo */
    height: auto;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    margin: 5px 0; /* Ajusta el margen para pantallas pequeñas */
  }

  nav ul li a {
    font-size: 14px; /* Reduce el tamaño de la fuente para mejor ajuste */
  }

  footer {
    padding: 5px 0;
    margin-top: 80px;
  }

  .footer-content {
    padding: 0 5px;
  }

  .footer-links,
  .social-media {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul,
  .social-media ul {
    display: block;
    text-align: center;
  }

  .footer-links ul li,
  .social-media ul li {
    margin: 3px 0;
  }
  form {
    width: 100%; /* El formulario ocupa el ancho completo en dispositivos muy pequeños */
    padding: 10px; /* Ajusta el padding para pantallas pequeñas */
  }

  form input,
  form select,
  form textarea {
    width: calc(
      100% - 18px
    ); /* Ajusta el ancho para incluir el padding interno */
    padding: 8px; /* Ajusta el padding para pantallas pequeñas */
  }

  form .radio-group {
    flex-direction: column; /* Muestra las opciones de radio en una columna */
  }
}
